


<script>
// vim: ts=3

document.addEventListener("DOMContentLoaded", function() {
	var element = document.querySelector("#chapternav");
	if (!element) {
		return;
	}
	var matches = window.location.href.match(/\/ch0?(\d+)/);
	if (!matches) {
		return;
	}
	var number = parseInt(matches[1]);
	var max = 40;
	var min = 1;
	var nextnum = number + 1;
	var lastnum = number - 1;
	if (nextnum > max) {
		nextnum = min;
	}
	if (lastnum < min) {
		lastnum = max;
	}
	var nextlink = "/guide/ch";
	if (nextnum < 10) {
		nextlink += "0";
	}
	nextlink += nextnum;

	lastlink = "/guide/ch";
	if (lastnum < 10) {
		lastlink += "0";
	}
	lastlink += lastnum;

	var output = "";
	output += "<table style='width:226px'><tr style='width:100%;'>";
	output += "<td title='Go to previous chapter' onclick='window.location.href=\"" + lastlink + "\"'>";
	output += '<i class="fa fa-arrow-left"></i> ' + lastnum;
	output += "</td><td title='Go to table of contents' onclick='window.location.href=\"/guide\"'>";
	output += '<i class="fa fa-arrow-up"></i> ';
	output += "</td><td title='Go to previous chapter' onclick='window.location.href=\"" + nextlink + "\"'>";
	output += nextnum + ' <i class="fa fa-arrow-right"></i> ';
	output += "</td></tr></table>";

	element.innerHTML = output;


	var header = document.querySelector("h1");
	if (header) {
		var text = header.textContent;
		if (text.match(/Humdrum Toolkit User Guide/)) {
			header.style.color = "black";
		}
	}

	var original = document.querySelector("#original");
	if (original) {
		var nnumber = number;
		if (nnumber < 10) {
			nnumber = "0" + nnumber;
		}
		var output = "";

		output += '<a target="_blank" href="';
		output += '/Humdrum/guide' + nnumber + '.html';
		output += '" class="btn btn-primary btn-lg btn-responsive">Original HTML version</a>';

		output += '<a style="margin-top:8px;" target="_blank" href="';
		output += "http://ccarh.org/publications/manuals/humdrumuserguide/hug1998-chapter";
		output += nnumber + ".pdf";
		output += '" class="btn btn-primary btn-lg btn-responsive">Scan of 1998 edition</a>';

		original.innerHTML = output;
	}

});


</script>
