


<script>
// vim: ts=3

document.addEventListener("DOMContentLoaded", function() {
	var element = document.querySelector("#chapternav");
	if (!element) {
		return;
	}
	var matches = window.location.href.match(/\/ch0?(\d+)/);
	if (!matches) {
		return;
	}
	var number = parseInt(matches[1]);
	var max = 40;
	var min = 1;
	var nextnum = number + 1;
	var lastnum = number - 1;
	if (nextnum > max) {
		nextnum = min;
	}
	if (lastnum < min) {
		lastnum = max;
	}
	var nextlink = "/guide/ch";
	if (nextnum < 10) {
		nextlink += "0";
	}
	nextlink += nextnum;

	lastlink = "/guide/ch";
	if (lastnum < 10) {
		lastlink += "0";
	}
	lastlink += lastnum;

	var output = "";
	output += "<table style='width:220px'><tr style='width:100%;'>";
	output += "<td onclick='window.location.href=\"" + lastlink + "\"'>";
	output += '<i class="fa fa-arrow-left"></i> ' + lastnum;
	output += "</td><td onclick='window.location.href=\"/guide\"'>";
	output += '<i class="fa fa-arrow-up"></i> ';
	output += "</td><td onclick='window.location.href=\"" + nextlink + "\"'>";
	output += nextnum + ' <i class="fa fa-arrow-right"></i> ';
	output += "</td></tr></table>";

	element.innerHTML = output;
});


</script>
