

<li>
	<a title="Command-line tools" href="/tool">Tools</a>
</li>

<li>
	<a style="display:block;" title="Verovio Humdrum Viewer" target="_blank" href="https://verovio.humdrum.org">VHV</a>
</li>

<li>
	<a title="Command-line tools" href="/news">News</a>
</li>

<li>
{% if site.feedback_text %}
  {% assign feedback_text = site.feedback_text %}
{% else %}
  {% assign feedback_text = "Community" %}
{% endif %}

{% if site.feedback_link %}
  <a class="email" title="**HUG mailing list" href="{{site.feedback_link}}">{{feedback_text}}</a>
{% else %}
  <a class="email" title="**HUG mailing list" href="#" onclick="window.open('https://groups.google.com/forum/#!forum/starstarhug', '_blank')"><i class="fa fa-envelope-o"></i> {{feedback_text}}</a>
{% endif %}
</li>
