<style>

body {
	font-size: 2.25rem !important;
}

.summary:before {
    content: "Summary: ";
    font-weight: bold;
}

.post-summary {
    margin-bottom:12px;
}

.pageSummary {
    font-size:13px;
    display:block;
    margin-bottom:15px;
    padding-left:20px;
}

.summary {
    font-size:90%;
    color: #808080;
    margin:20px 0px 20px 0px;
    border-left: 5px solid {{site.primary_background_color}};
    padding-left: 10px;
}

h1 {color: {{site.primary_background_color}}; }
h2 {color: {{site.primary_background_color}}; }
h3 {color: {{site.primary_background_color}}; }
h4 {color: #808080; }

</style>

