
<!-- styles specifically for the Humdrum website -->
{% include css/humdrum.html %}

<!-- styles for verovio notation figures -->
{% include css/verovio.html %}

<!-- custom styles from the original template for the website: -->
{% include css/customstyles.html %}

{% include css/syntax.html %}
{% include css/theme-blue.html %}

{% include css/toc.html %}


<style>

/*
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*/


/* Alegreya
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');
*/

/* Alegreya Sans */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');


/* Courier Prime: Fixed-width font for code examples */
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

* {
/*	font-family: 'Lato', sans-serif;
	font-size: 2.25rem;
	line-height: 2.75rem;
 */
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 2.5rem;
	line-height: 3.0rem;
/*	font-smooth: antialiased; */
}

ul.mysidebar {
	line-height: 23px;
}
.nav li a {
	line-height: 23px !important;
	font-size: 1.75rem;
	font-stretch: condensed;
}

p {
	margin-bottom: 20px;
	margin-top: 20px;
}


h1 {
	margin-bottom: 50px;
	margin-top: 50px;
	font-weight: bold;
	font-size: 200%;
}

h2 {
	margin-top: 50px;
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 150%;
}

h3 {
	margin-top: 50px;
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 125%;
}

h4 {
	margin-top: 50px;
	margin-bottom: 40px;
	font-weight: bold;
	font-style: italic;
	font-size: 125%;
}

code.language-plaintext.highlighter-rouge {
	color: #666666;
	padding: .1em .4em;
	background: #f0f2fd;
	border: 1px solid #d9e1f6;
	padding-left: -2px;
	padding-right: -1px;
	border-radius: 3px;
	font-family: 'Courier Prime', monospace;
	font-size: 1.75rem;
	font-variant-ligatures: none;
}

pre.highlight code,
code span,
code span.k,
code span.nr,
code span.sr,
code span.p,
code span.nb {
	font-size: 1.75rem;
	line-height: 25px;
	font-family: 'Courier Prime', monospace;
	font-variant-ligatures: none;
	white-space: pre;
	overflow-y: scroll;
}
pre.highlight {
	background: #f0f2fd;
	border: 1px solid #d9e1f6;
}



</style>
