<style>

div#toc ul li {
	/* list-style: square; */
}

div#toc ul {
	max-width: 300px;
}

div#toc ul li ul {
	padding-left:8px;

}

div#toc ul li ul li::before {
	content: "–  ";
	visibility: hidden;
}

div#toc >ul::before {
/*    content: "Table of Contents"; */
	font-weight: 500;
	color: #555;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:70px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:10px;
}


#toc ul, #toc ul li, .nav #toc ul li a {
	background: transparent !important;
}

.nav #toc a {
	border: 0;
}


#toc a.anchorjs-link, #toc a.anchorjs-link:after {
	display: none;
}

.nav #toc a {
	color: {{site.primary_background_color}};
}

#toc ul li a {
	border: 0 !important;
	font-size: 65% !important;
}

#toc ul:before {
	font-size: 75%;
}

#toc, #chapternav {
	position: -webkit-sticky;
	position: sticky;
}

#chapternav {
	background: hotpink;
	width: 100% !important;
}

#chapternav table {
	width: 100% !important;
}

#chapternav td {
	cursor: pointer;
}

#chapternav td:nth-child(1) {
	text-align: left;
	width: 40%;
}

#chapternav td:nth-child(2) {
	text-align: center;
	width: 20%;
}

#chapternav td:nth-child(3) {
	text-align: right;
	width: 40%;
}

</style>
