
<script>
// vim: ts=3

{% if page.verovio == "true" %}

// list of rendering jobs that need to be done once verovio has been loaded:
var VEROVIO_QUEUE = [];

var vrvToolkit;

function initializeVerovioScript() {
	verovio.module.onRuntimeInitialized = () => {
		vrvToolkit = new verovio.toolkit();
		// Now process any queued rendering requests
		// console.log("QUEUE", VEROVIO_QUEUE);
		for (var z=0; z<VEROVIO_QUEUE.length; z++) {
			// console.log("RUNNING QUEUED JOB", VEROVIO_QUEUE[z]);
			updateSvgDisplay(VEROVIO_QUEUE[z].id, VEROVIO_QUEUE[z].options);
		}
		VEROVIO_QUEUE = [];
	}
}



document.addEventListener("DOMContentLoaded", function() {
	{% if site.local == "true" %}
		var script = document.createElement('script');
		script.src="{{site.baseurl}}/js/local/verovio-toolkit-wasm.js";
		script.onload = initializeVerovioScript;
		document.body.appendChild(script);
	{% else %}
		var script = document.createElement('script');
		script.src = "https://verovio-script.humdrum.org/scripts/verovio-toolkit-wasm.js";
		script.onload = initializeVerovioScript;
		document.body.appendChild(script);
	{% endif %}
});

</script>

{% endif %}

{% if page.verovio == "true" %}
	{% include scripts/verovio_support_functions.html %}
{% endif %}



