body {
	/* font-size: 12pt;  */
	font-size: 18px;
	line-height: 28px;
	color: black; 
	/* background-image: url("/images/backgrounds/bgBlue4.gif"); */
	background-color: #dbedff;
	/* font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif; */
	font-family: Georgia,"Palatino Linotype","Book Antiqua",Palatino,"Times New Roman",Times,serif;
	font-weight: normal;
	max-width: 925px;
	margin: 20px;
	margin-left: 80px;
}




h1 {
        text-align:center;
}

h3 {
        font-style: italic;
}


#header {
	text-align:center;
	color: black;
	background-color: #6066ff;
	/* Amaya puts a border attribute on the table tag; set it to 0. */
	border-style: none;   
	/* override possible user style sheet */
	padding: 0;
	margin: 0;
}
